body{
    margin: 0;
}
.layerBackground{
    width: 100vw;
    height: 12vh;
}
.layer2{
    margin: 3vmin;
}
.layer3{
    margin-top: 7vh;
    margin-left: 50vw;
}
.imgLayer2{
    width: 5vw;
    height: 10vh;
}
.imgLayer3{
    width: 5vw;
    height: 2vh;
}
.listCompanies{
    font-size: 5vmin;

}
.headerBorder{
    border-bottom:solid darkslategrey ;
}
section.companies{
    border: solid black medium;

    width: 60vw;
    display: inline-block;
    margin: 1%;
}
#loading-bar-container {

}
#loading-bar{
    position: absolute;
    left: 25vw;
    top: 45vh;
    width: 50vw;
    height: 10vh;
    z-index: 100;
    padding: 5vmin;
    background-color: white;
    border: 1px solid black ;

}
#loading-bar .bar {
    position: relative;
    top:-2vh;
    height: 4vh;

}
.companyItem{
    margin: 1vmin 7vmin;
    height: 5vh;
    padding: 0px;
    border:  solid black  ;
}
.companyItem:hover{
    background-color: aqua;
    cursor: pointer;
}
.companyName{
    font-size: 2.8vmin;
    font-weight: 700;
    margin-left: 2vmin;
}
.bodyContent{
    margin: 5vmin 10vmin;
}
.filterData{
    border: solid black medium;
    margin: 1%;
    width: 20vw;
    display: inline-block;
}
.paginCstm{
    margin-left: 45%;
}
.findNameInput{
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.headerBorderProducts{
    border-top: solid black;
}
.fontFilter{
    font-size: 3vmin;
}
.contentCompanies{
    display: flex;
}
.btn{
    margin-bottom: 1%;
}
.myInput{
    display: inline-block;
    width: 50%;
    margin-right: 1%;
    margin-bottom: 1%;
}
.paddingFix{
    padding-right: 0px ;
    padding-left: 0px;
}
