<div class="modal-header">
    <button type="button" class="close" aria-hidden="true" ng-click="info.closeModal()">&times;</button>
    <h3 class="modal-title" id="modal-title">Information & Edit</h3>
    <div class="alert alert-success alert-dismissable" ng-show="info.sendedSuccessfully">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="info.sendedSuccessfully = false">&times;</button>
        <strong>Great!</strong> Data sended successfully
    </div>
</div>
<div class="modal-body" id="modal-body">
    <button ng-if="!info.editMode" ng-click="info.editMode = !info.editMode" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-edit"></span></button>
    <button ng-if="info.editMode" ng-click="info.editMode = !info.editMode; info.save()" class="btn btn-primary pull-right">
       Save</button>


    <div ng-if="!info.editMode"><h2 >Company name: {{info.companyName}}</h2></div>
    <div ng-if="info.editMode"><h2>Company name: <input  type="text" class="form-control myInput" ng-model="info.newCompanyName" ></h2></div>
    <h3 >Company goods:</h3>

    <ul>
        <li ng-if="!info.editMode" ng-repeat="item in info.companyGoods"> <!--edit Mode-->
                <p>{{item}}</p>
        </li>
        <li ng-if="info.editMode"  ng-repeat="item in info.companyGoods  track by $index">
            <input type="text" class="form-control myInput" ng-model="info.companyGoods[$index]" >
        </li>
    </ul>

    <button class="btn btn-primary" title="Add goods" ng-click="info.addGoods = !info.addGoods"><span
            class="glyphicon glyphicon-plus"></span></button>

    <div ng-show="info.addGoods"><input type="text" class="form-control myInput" ng-model="info.newGood">
        <button class="btn btn-success" title="Add goods" ng-click="info.addGood()">Add</button>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="info.send()">Send</button>
    <button class="btn btn-warning" type="button" ng-click="info.cancel()">Cancel</button>
</div>